@media screen and (min-width: 0) and (max-width: 1000px){
    .box{
        height: 700px;
    }
    .box_bcdefgh{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }
    .box_a{
        height: 125px;
    }
    .bcde{
        width: 100%;
        height: 300px;

    }

    .h{
        width: 100%;
        height: 200px;
        margin-left: 0;

    }
    .b, .c, .d

    {
        height: 100px;
        width: 100px;
        background: #d28c8c;
    }
    .e, .f, .g {
        height: 100px;
        width: 100px;
        background: #b88bdc;
    }
}