body{
    margin: 0;
    display: flex;
    justify-content: center;
}
.abc{
    height: 500px;
    width: 800px;
    background: #44d9f3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.colum1{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card{
    height: 120px;
    width: 350px;
    background: #ffffff;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    /**/
    display: flex;

}
.fa-pen-to-square{
    width:100px ;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;

}
.fa-money-bill-transfer{
    width:100px ;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}
.fa-id-card{
    width:100px ;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.des{
    width: 220px;

}
.tattle{
    font-size: 20px;
    font-family: "Times New Roman", serif;
    font-weight: 600;
    color: #f7a22f;
    margin-bottom: 10px;
    margin-top: 5px;
}
.texst{
    color: gray;
    font-size: 18px;
}