body{
    background: #f3ecc7;}
img {width: 400px}
h1 {
    background: #e0d742;
}
h1{
    color: #084ad7;}

h2 {
    background: #084ad7;
}
h2{color: #ecdb0c
}
ol{color: #084ad7}
ul{color: #084ad7}
h2 a{color: #ecdb0c}
p{
    background: #306aee;}
p {
    color: #ead905
}